footer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2, fr);
    background-color: #060251e5;
    padding: 30px; 
    font-size: 20px;
        div {
            font-family: 'PT Serif', serif;
            color: rgba(255, 255, 255, 0.815);
            text-shadow: 2x 2px 2px black;
            margin-left: 5px;
                .contactocolor {
                    color: #b4009a;
                    text-decoration: none;
                    font-size: 30px;
                    text-shadow: 2px 2px 2px black;
                    margin-bottom: 20px;
                    &:hover {
                        background: linear-gradient(90deg, rgba(252,3,41,1) 0%, rgba(252,2,113,1) 12%, rgba(243,7,255,1) 22%, rgba(162,40,253,1) 34%, rgba(2,103,251,1) 45%, rgba(2,134,177,1) 55%, rgba(2,168,94,1) 65%, rgba(124,204,43,1) 76%, rgba(247,108,7,1) 87%, rgba(252,2,2,1) 100%);
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
                
            .footer__text {
                text-decoration: none;
                list-style: none;
            }    
        }

    .icon__container {
        display: flex;
        justify-content: flex-end; 
        flex-direction: row;
        color: rgba(255, 255, 255, 0.808);
            .icons {
                display: inline;
                justify-content: flex-end;
                flex-direction: row;
                color: rgba(255, 255, 255, 0.808);
                padding: 10px;
                font-size: 30px;
                &:hover {
                    background: linear-gradient(90deg, rgba(252,3,41,1) 0%, rgba(252,2,113,1) 12%, rgba(243,7,255,1) 22%, rgba(162,40,253,1) 34%, rgba(2,103,251,1) 45%, rgba(2,134,177,1) 55%, rgba(2,168,94,1) 65%, rgba(124,204,43,1) 76%, rgba(247,108,7,1) 87%, rgba(252,2,2,1) 100%);
                    -webkit-background-clip: text;
                    color: transparent;
                }
            }
    }    
}

