body.planets {
    background-image: url(../Imagenes/planets.jpg);
        .navbar-light .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 240, 240, 1.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
}

.news__container{
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    gap: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
        .news {
            height: 550px;
            width: 50%;
            border: solid ;
            border-color: #b4009948;
        }
}