// MIXINS
@import 'mixins';

@media screen and (max-width: 480px) {

    /* HEADER */

    header {
        width: 100%;
            .logo__container {
                @include boxcenter();
                align-items: center;
                    .logo {
                        width: 250px;
                    }
            }
            .menu {
                font-size: 25px;
                    .colornav {
                        color: rgba(255, 255, 255, 0.808);
                        text-decoration: none; 
                    }
            }
    }

    /* BANNER */

    .carousel {
        display: none;
    }

    /* SECCIÓN NOTICIAS */

    #news-feed {
        margin-top: 30px;
        padding: 0;
            .news-block {
                display: flex;
                width: 100%;
                gap: 0;
                    .left-block {
                        width: 50%;
                            article {
                                height: 100%;
                                    h1 {
                                        font-size: 35px;
                                        margin-top: 0;
                                    }
                            }
                    }
                    .right-block {
                        width: 50%;
                            article {
                                height: 50%;
                            }
                    }
            }
            article {
                padding-left: 10px;
                padding-right: 10px;
                display: flex;
                flex-direction: column;
                height: 100%;
                margin-top: 3px;
            }    
            h1 {
                margin: 25px 0 20px 0;
                font-family: LibreFranklin-Bold, sans-serif;
                font-size: 40px;
                color: #e092d3;
            }
            h2 {
                color: #e092d3;
                font-family: LibreFranklin-Bold, sans-serif;
                font-size: 24px;
                flex-grow: 1;
            }
            p {
                flex-grow: 1;
                font-family: LibreFranklin-Thin, sans-serif;
                color: white;
                font-size: 20px;
            }
            figure {
                position: relative;
                    img {
                        width: 100%;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #e092d3; 
                    }
                    figcaption {
                        display: none;
                    }
            }
        .news-block-3 {
            display: flex;
            width: 100%;
            gap: 0;   
                .block-3 {
                    display: none;
                } 
                article {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    margin-top: 3px;
                }
        }    
        .news-block-4 {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
                .block-3 {
                    img {
                        width: 300px;
                        height: 200px;
                    }
                }
        }   
    }


     /* FOOTER */

     footer {
        padding: 15px; 
            .contactocolor {
                font-size: 25px;
            }
            .footer__text {
                font-size: 18px;
            } 
    }

    /* BANDA */

    .bandbody {
        main {
            h2 {
                font-size: 35px;
            }

            .card {
                background-color: #1a104dbe;
            }

            .band__container {       
                padding: 5px;
                    .band__all {
                        .origin {
                            width: 100%;
                            height: 250px;
                        }
                    }
            
            }

            .members__container {
                padding: 5px;
                gap: 5px;
                    img{
                        height: 280px;
                    }
                    .card-body {
                        li {
                            font-size: 20px;
                        }
                    }
            }
        }

    }

    /* GALERIA */

    .titlecolor {
        width: 100%;
        
    }

    /* DISCOGRAFÍA */

    .disco__container {
        gap: 20px;
    }

    /* TOUR */

    .tourbody {

        main {
            @include boxcenter();
            width: 100%;
            margin: 0;
                h2 {
                    padding: 5px;
                }
                .table {
                    font-size: 15px;
                    margin-bottom: 10px;
                    margin-left: 0;
                        th {
                            font-size: 20px;
                        }   
                }    
                
        }

    }

    /* CONTACTO */

    .contactbody {
            .helpmessage {
                margin: 30px;
                    h2 {
                        margin-bottom: 15px;
                    }
            }
            .container {
                @include boxcenter();
                width: 100%;
                    .row {
                        width: 100%;
                            .form__div {
                                @include boxcenter();
                                width: 100%;
                                    #datastyle {
                                        width: 95%;
                                        font-size: 15px;
                                    }
                                                       
                                    .form__title {                               
                                        font-size: 30px;                                       
                                    }
                            }    
                    }           
            }    
        
        .container {
            @include boxcenter();
                .row {
                    width: 100%;
                        .opinion {
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            width: 100%;
                            flex-direction: column;
                            gap: 10px;                                
                                div {
                                    width: 100%;
                                        textarea {
                                            width:90%;
                                            border-radius: 10px;
                                            box-shadow: 0, 0, 0, 0.40px black;
                                        }
                                }
                            .button__container {
                                display: flex;
                                justify-content: space-between;
                            }
                            .form__title {
                                font-size: 30px;                                
                            }
                        }       
                }
        }
        
        footer {
            margin-top: 40px;
        }    
    }
    
}